{
	Nick = "TalkSoup";
	Password = "";
	Plugins = 
	{
	    InFilters = (
		Highlighting.bundle,
		KeepAlive.bundle,
		MessageInTab.bundle
	    );
	    Input = LibircclientInput.bundle;
	    OutFilters = (
		Colorizer.bundle
	    );
	    Output = GNUstepOutput.bundle;
	};
	RealName = "";
	UserName = "";
}
